
<div [formGroup]="form" class="row mb-n">

  <div [ngClass]="{'clear': even}" class="col-sm-6"
       *ngFor="let s of links; let even = even">

    <mat-form-field appearance="outline">
      <mat-label>{{ s.title }}</mat-label>
      <input matInput
             autocomplete="off"
             type="url"
             [formControlName]="s.name" />

      <span class="link-icon" matPrefix>
        <i class="fa fa-2x {{s.icon}}" aria-hidden="true"></i>
      </span>

      <mat-error *ngIf="form.get(s.name)?.errors?.pattern">Not a valid URL.</mat-error>
    </mat-form-field>

  </div>
</div>

