<div class="p-md bg-gray">
  <h3>Checkout</h3>
</div>

<form [formGroup]="checkoutForm" (submit)="onSubmit(checkoutForm)">

  <div class="p-md">
    <div>
      <h4>Payment Options</h4>
      <hr/>

      <mat-radio-group formControlName="method" >
        <mat-list>
          <mat-list-item *ngFor="let card of paymentMethods">
            <mat-radio-button [value]="card.id">
              {{card?.brand}} {{card?.last4}}
            </mat-radio-button>
          </mat-list-item>
          <mat-list-item>
            <mat-radio-button mat-line value="new">
              New Method
            </mat-radio-button>
          </mat-list-item>
        </mat-list>
      </mat-radio-group>

      <home-payment-field [hidden]="checkoutForm.get('method').value !== 'new'" formControlName="token"></home-payment-field>

    </div>

  </div>

  <div class="p-md">
    <h4>Summary</h4>
    <table class="table">
      <colgroup>
        <col width="75%">
        <col width="25%">
      </colgroup>
      <tbody>
      <tr *ngFor="let item of cart?.items">
        <td>x{{item.count}} {{item.description}}</td>
        <td class="text-right">${{item.cost | stripePrice}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>Subtotal</th>
        <td class="text-right">${{cart?.subtotal | stripePrice}}</td>
      </tr>
      <tr>
        <td>Applied Account Balance</td>
        <td class="text-right">
          - ${{cart?.appliedAccountBalance | stripePrice}}
          <span class="sub block">(Out of ${{cart?.accountBalance | stripePrice}})</span>
        </td>
      </tr>
      <tr *ngIf="cart?.discountedAmount">
        <td>Coupon</td>
        <td class="text-right">- ${{cart?.discountedAmount | stripePrice}}</td>
      </tr>
      <tr>
        <th>Total</th>
        <th class="text-right">${{cart?.total | stripePrice}}</th>
      </tr>
      </tfoot>
    </table>
    <p *ngFor="let n of cart?.notes">{{n}}</p>
  </div>

  <div class="p-md row justify-content-between">
    <div class="col-auto">
      <button (click)="close()" mat-button>Cancel</button>
    </div>
    <div class="col" *ngIf="formIsLoading">
      <mat-progress-spinner class="pull-right" [diameter]="36" mode="indeterminate" color="primary"></mat-progress-spinner>
    </div>
    <div class="col-auto">
      <button [disabled]="formIsLoading"
              type="submit"
              color="accent"
              mat-flat-button>Confirm</button>
    </div>
  </div>
</form>
