<div class="imgUploader" [ngClass]="{'active': (data && data.image)}">

  <input type="file" accept="image/*"
         #imgInput
         (change)="fileChangeListener($event)"
         hidden />

  <mat-form-field appearance="outline" (click)="imgInput.click()">
    <mat-label>File</mat-label>

    <input
      matInput
      type="text"
      [value]="filename || ''"
      readonly=""
      placeholder="Choose An Image File..."/>

    <mat-progress-spinner matSuffix mode="indeterminate" diameter="32" *ngIf="processing"></mat-progress-spinner>
    <mat-icon matSuffix *ngIf="!processing">attach_file</mat-icon>
  </mat-form-field>

  <img-cropper #cropper
               [image]="data"
               [settings]="settings">
  </img-cropper>

</div>
