<div class="imgUploader" [ngClass]="{'active': (data && data.image)}">

  <input type="file" accept="image/*"
         #imgInput
         (change)="fileChangeListener($event)"
         class="hidden"/>

  <div class="input-group" (click)="imgInput.click()">

    <div class="input-icon right">

      <i *ngIf="processing" class="fa fa-fw fa-spin fa-spinner"></i>

      <input
        type="text"
        [value]="filename || ''"
        readonly=""
        class="form-control"
        placeholder="Choose An Image File..."/>

    </div>

    <span class="input-group-btn input-group-sm">
      <button type="button" class="btn btn-fab btn-fab-mini">
        <i class="material-icons">attach_file</i>
      </button>
    </span>
  </div>

  <img-cropper #cropper
               [image]="data"
               [settings]="settings">
  </img-cropper>

</div>
