<div class="container">
  <div class="signup-block pt-xl">
    <div class="row text-center">
      <div class="col-md-12">
        <a href="http://evolvemusic.org" class="inblock">
          <img alt="H.O.M.E." width="200" src="assets/images/home-login-logo.png"/>
        </a>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <mat-horizontal-stepper
          [linear]="false"
          (selectionChange)="updateRoute($event)"
          [formGroup]="walkthrough">

          <mat-step state="contact"
                    #contactStep
                    [stepControl]="walkthrough.get('contact')"
                    [editable]="false">
            <ng-template matStepLabel>Contact</ng-template>

            <ng-container *ngIf="showStep(contactStep)">
              <home-contact (completed)="stepCompleted('contact')" [isRegistrationStep]="true"></home-contact>
            </ng-container>
          </mat-step>

          <mat-step #subscriptionStep state="subscription" [editable]="false" [stepControl]="walkthrough.get('subscription')">
            <ng-template matStepLabel>Membership</ng-template>

            <ng-container *ngIf="showStep(subscriptionStep)">
              <home-subscription (completed)="stepCompleted('subscription')"></home-subscription>
            </ng-container>
          </mat-step>

          <mat-step #aboutStep state="about" [stepControl]="walkthrough.get('about')">
            <ng-template matStepLabel>About</ng-template>
            <ng-container *ngIf="showStep(aboutStep)">
              <home-about (completed)="stepCompleted('about')"></home-about>
            </ng-container>
          </mat-step>

          <mat-step #profileStep state="profile" [stepControl]="walkthrough.get('profile')">
            <ng-template matStepLabel>Profile</ng-template>
            <ng-container *ngIf="showStep(profileStep)">
              <home-profile (completed)="stepCompleted('profile')"></home-profile>
            </ng-container>
          </mat-step>

          <mat-step #doneStep state="done" [stepControl]="walkthrough.get('done')">
            <ng-template matStepLabel>Finish</ng-template>
            <ng-container *ngIf="showStep(doneStep)">
              <home-done (completed)="stepCompleted('done')"></home-done>
            </ng-container>
          </mat-step>

        </mat-horizontal-stepper>

      </div>
    </div>
  </div>

</div>
