<div class="container-fluid">

  <div data-widget-group="group1">
    <div class="row">
      <div class="col-md-8">

        <mat-card>
           <textarea [(ngModel)]="newPostContent"
                     class="form-control m-n"
                     placeholder="What's on your mind..."
                     rows="4">
           </textarea>
          <mat-card-actions align="end">
            <button mat-flat-button color="primary" (click)="newPost()">Post</button>
          </mat-card-actions>
        </mat-card>

        <div class="clear animated-content"
             infiniteScroll
             [infiniteScrollDistance]="1"
             [infiniteScrollThrottle]="500"
             [immediateCheck]="true"
             [scrollWindow]="true"
             (scrolled)="onScroll()">

          <!--<home-loader [hidden]="post$ | async"></home-loader>-->

          <div class="err" *ngIf="(post$ | async)?.length === 0">
            No Posts at This Time
          </div>

          <div [hidden]="!(post$ | async)">
            <home-post
              *ngFor="let p of post$ | async"
              [post]="p"
              (deletePost)="onDeletePost($event)"
              (editPost)="editPost($event)"
            ></home-post>
          </div>

        </div>

      </div>
    </div>
  </div>


</div>

