<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let item of list; let i = index" [selectable]="true"
              [removable]="true" (removed)="remove(i)">
      {{ item }}
      <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
    </mat-chip>
    <input [placeholder]="placeholder"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="true"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>

