<div class="container blank-container focused-form">
  <div class="login-block pt-xl">
    <div class="row text-center">
      <div class="col-md-12">
        <a href="http://evolvemusic.org" class="inblock">
          <img alt="H.O.M.E." width="200" src="assets/images/home-login-logo.png"/>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 center-block fn">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Login</h2>
          </div>
          <form class="form" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
            <div class="panel-body row">

              <div class="col-md-12">
                <div class="form-group label-floating mt-n"
                     [ngClass]="{'has-error': (email.invalid && email.touched) }">

                  <label for="email" class="control-label">Email</label>
                  <input type="email"
                         class="form-control"
                         id="email"
                         name="email"
                         #email="ngModel"
                         autofocus
                         required
                         ngModel/>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group label-floating">
                  <label for="password" class="control-label">Password</label>
                  <input type="password"
                         class="form-control"
                         id="password"
                         name="password"
                         #password="ngModel"
                         autofocus
                         required
                         ngModel/>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group m-n">
                  <a class="pull-right" (click)="forgotPassword()">
                    Forgot password?
                  </a>
                </div>
              </div>
            </div>

            <div class="panel-footer">
              <div class="clearfix">
                <a routerLink="/signup" class="btn btn-default btn-sm pull-left">Register</a>

                <home-btn
                  [class]="'btn btn-info btn-sm pull-right'"
                  [type]="'submit'"
                  [isLoading]="isLoading">
                  Login
                </home-btn>

              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <oauth-btn
              type="facebook"
              icon="facebook"
              title="Facebook"
            ></oauth-btn>
          </div>
          <div class="col-xs-12">
            <oauth-btn
              type="google"
              icon="google-plus"
              title="Google+"
            ></oauth-btn>
          </div>
        </div>

        <div class="panel panel-default help-block no-animate"
             *ngIf="errorMessage">
          <p class="error text-center m-md">{{errorMessage}}</p>
        </div>

      </div>
    </div>
  </div>

</div>

