<div class="container blank-container focused-form">
  <div class="login-block pt-xl">
    <div class="row text-center">
      <div class="col-md-12">
        <a href="http://evolvemusic.org" class="inblock">
          <img alt="H.O.M.E." width="200" src="assets/images/home-login-logo.png"/>
        </a>
      </div>
    </div>

    <mat-card>
      <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>

      <form class="form" [formGroup]="loginForm" (submit)="onSubmit(loginForm)">
        <mat-card-header>
          <h2 mat-card-title>Login</h2>
          <h2 mat-card-subtitle>Welcome HOME</h2>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput autofocus formControlName="email" type="email">
            <div *ngIf="loginForm.get('email').dirty && loginForm.get('email').errors; let errors">
              <mat-error *ngIf="errors.server">{{ errors.server }}</mat-error>
            </div>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput autofocus formControlName="password" type="password">
          </mat-form-field>


          <p>
            <a (click)="forgotPassword()">
              Forgot password?
            </a>
          </p>
        </mat-card-content>

        <mat-card-actions>
          <a routerLink="/signup" mat-button>Register</a>
          <button class="pull-right" type="submit" [disabled]="isLoading" mat-flat-button color="primary">Login</button>
        </mat-card-actions>
      </form>

    </mat-card>

    <div class="row">
      <div class="col-12">
        <oauth-btn
          type="facebook"
          icon="facebook"
          title="Facebook"
        ></oauth-btn>
      </div>

      <div class="col-12">
        <oauth-btn
          type="google"
          icon="google-plus"
          title="Google+"
        ></oauth-btn>
      </div>
    </div>

  </div>

</div>

