@import 'theme/_vars';

:host {
  z-index: 999;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

@media screen and (max-width: 768px) {
  .nav-side {
    padding: 0 !important;
  }
  .container {
    margin: 0;
    width: 100%;
  }
}

header {
  background-color: $blue;
  height: 64px;
  .container {
    display: flex;
    padding: 0;
  }

  .brand {
    width: auto !important;
    img {
      margin: 0 !important;
      max-width: 136px;
      max-height: 42px;
    }
  }
}

.profile {
  height: 54px !important;;

  > div {
    height: 100%;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    float: left;
    border-radius: 50%;
    margin: 4px 8px 0 -8px;
  }
  h4 {
    font-size: 1.2em;
    margin: 0;
  }
  span {
    font-size: .8em;
    line-height: 1.4em;
  }
}

.spacer-1 {
  flex: 0.27 1 auto
}
.spacer-2 {
  flex: 1 1 auto;
}

ul.actions {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  li {
    padding: 12px;
  }
}
