@import 'theme/_vars';
@import "~bootstrap/scss/bootstrap";

:host {
  z-index: 999;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

mat-toolbar {
  padding: 0;
}

.row {
  margin-bottom: 0;
}

ul.actions {
  padding: 12px 0;
  list-style: none;
  margin-bottom: 0;
  li {
    padding: 0;
    &:not(:last-child) {
      margin-right: 6px;
    }
    img {
      margin: 0;
    }
  }
}

.brand-nav {
  width: 240px;
  flex: 0 1 240px;

  @include media-breakpoint-down(sm) {
    width: auto;
    flex: 0 1 120px;
  }
}

/deep/ .profile-dropdown {
  width: 260px !important;
  max-width: 300px;
  .profile-link {
    height: 52px;
    display: flex;
    flex-direction: row;
    img {
      margin: 0 12px 0 0;
      height: 42px;
    }
    * {
      line-height: 1em;
    }
    h4 {
      margin: 0 0 6px;
    }
  }
}
