<div class="pt-xl clear row">
  <div class="col-lg-6">

    <mat-card class="about-card">
      <mat-card-header>
        <h2 mat-card-title>About</h2>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>email</mat-icon>
            <a href="mailto:{{member.email}}">{{member.email}}</a>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>music_note</mat-icon>
            {{member.membership_types.join(', ') | pretty}}
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>work</mat-icon>
            {{member.profession | pretty}}
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>place</mat-icon>
            {{member.city | pretty}}, {{member.state}}
          </mat-list-item>
        </mat-list>

      </mat-card-content>
      <mat-card-actions>
        <ul class="list-inline text-center m-n">
          <li *ngFor="let link of links">
            <a [href]="link.link | linkFormat" target="_blank">
              <i [class]="'fa ' + link.icon"></i>
            </a>
          </li>
        </ul>
      </mat-card-actions>
    </mat-card>

  </div>

  <div class="col-lg-6">
    <mat-card>
      <mat-card-header>
        <h4 mat-card-title>Bio</h4>
      </mat-card-header>

      <mat-card-content>
        <p class="mb-lg text-space" [innerHTML]="member.bio | wrapLinks"></p>
        <div class="w-100"></div>

        <h4>Basic Information</h4>

        <table class="table table-striped">
          <tbody>
          <tr>
            <th>Skills</th>
            <td *ngIf="member.skills.length">{{member.skills.join(', ') |
              pretty}}
            </td>
            <td *ngIf="!member.skills.length"><i class="subtext">Not
              Specified</i></td>
          </tr>
          <tr>
            <th>Resources</th>
            <td *ngIf="member.resources.length">{{member.resources.join(', ')
              | pretty}}
            </td>
            <td *ngIf="!member.resources.length"><i class="subtext">Not
              Specified</i></td>
          </tr>
          <tr>
            <th>Genres</th>
            <td *ngIf="member.genres.length">
              {{member.genres.join(', ') | pretty}}
            </td>
            <td *ngIf="!member.genres.length"><i class="subtext">Not
              Specified</i></td>
          </tr>
          <tr>
            <th>Instruments</th>
            <td *ngIf="member.instruments.length">
              {{member.instruments.join(', ') | pretty}}
            </td>
            <td *ngIf="!member.instruments.length"><i class="subtext">Not
              Specified</i></td>
          </tr>
          </tbody>
        </table>

      </mat-card-content>
    </mat-card>

  </div>
</div>
