
/deep/ .snack-music-player {
  border: 0;
  box-shadow: none;
  background: none;
  width: 240px;
}

mat-card {
  width: 240px;
  float: right;
  box-shadow: 0 18px 35px 0 rgba(42, 51, 83, .22), 0 8px 15px rgba(0, 0, 0, .16) !important;
  border-radius: 8px;
  overflow: hidden;

  mat-card-header * {
    margin-bottom: 0 !important;
  }
  .mat-card-avatar {
    background-size: contain;
  }
  mat-card-content {
    margin: 0;
    mat-slider {
      width: 100%;
      padding: 0;
      height: 32px;
    }
  }

  mat-progress-spinner {
    display: inline-block;
  }

  mat-card-actions {
    clear: both;
    margin: 0 -16px -16px !important;
    padding: 4px !important;
    background: #f6f6f6;
    text-align: center;
  }
}

.track-seek {
  position: relative;
  display: flex;
  .spacer {
    flex: 1 1 auto;
  }
  span {
    color: rgba(0,0,0,0.5);
  }
}

