mat-sidenav-container {
  overflow: visible;
  padding: 64px 0 0 0 !important;

  &.playerShowing {
    .page-content {
      padding-bottom: 60px;
    }
  }
}

.right-nav {
  background: none;
  border: none;
}
main {
  padding: 24px 48px;

  @media screen and (max-width: 768px) {
    padding: 24px 0;
  }
}

mat-sidenav.mat-drawer-over {
  background: #fff;
  border-right: 1px solid #eee;
}

