mat-sidenav-container {
  overflow: visible;
  padding: 64px 0 0 0 !important;

  &.playerShowing {
    .page-content {
      padding-bottom: 60px;
    }
  }
}

.left-nav {
  background: none;
  border: none;
  flex: 0 0 21%;
  max-width: 240px;
}

main {
  padding: 24px 0;

  @media screen and (max-width: 768px) {
    padding: 24px 0;
  }
}

mat-sidenav.mat-drawer-over {
  background: #fff;
  border-right: 1px solid #eee;
}

