<div class="container blank-container focused-form" [hidden]="!brand">
  <div class="row text-center mb-n mt-xl" *ngIf="!brand.logo">
    <div class="col-md-12">
      <a href="http://evolvemusic.org" class="inblock">
        <img alt="H.O.M.E." src="assets/images/home-login-logo.png"/>
      </a>
    </div>
  </div>

  <div class="row text-center mb-n mt-xl" *ngIf="brand.logo">
    <div class="col-lg-6 col-md-8 col-sm-10 center-block fn brand-combo">

      <div class="col-sm-5">
        <a href="http://evolvemusic.org" class="inblock">
          <img alt="H.O.M.E." src="assets/images/home-login-logo.png"/>
        </a>
      </div>
      <div class="col-sm-2 va-child">
        <h1 class="mb-lg">+</h1>
      </div>
      <div class="col-sm-5 va-child">
        <a [href]="brand?.link" class="inblock">
          <img height="120" [src]="brand?.logo" [alt]="brand?.name"/>
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-8 center-block fn pt-xl">
    <div class="row">
      <div class="">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Signup Today!</h2>
          </div>

          <form class="form" (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
            <div class="panel-body row">
              <div class="col-md-12 mb-lg">
                <p>{{brand?.message}}</p>
              </div>

              <div class="col-md-12">

                <div class="form-group label-floating">

                  <label for="email" class="control-label">Email</label>
                  <input type="email"
                         class="form-control"
                         id="email"
                         name="email"
                         #email="ngModel"
                         autofocus
                         required
                         ngModel/>

                  <div [hidden]="!errors.email">
                    <p class="hint error">{{errors.email}}</p>
                  </div>
                </div>
              </div>

              <div class="col-md-12">

                <div class="form-group">

                  <label class="control-label pull-left m-n">I Want to Commit:</label>

                  <h1 class="text-right pull-right m-n"
                      [hidden]="showOtherAmount"
                      (dblclick)="showAmountInput()">
                    ${{amountToCommit}}
                  </h1>

                  <div *ngIf="brand?.canEditAmount">

                    <h1 class="text-right pull-right m-n" [hidden]="!showOtherAmount">
                      <input class="form-control pull-right"
                             #otherAmountInput
                             type="number"
                             (blur)="showOtherAmount = false"
                             (keyup.enter)="showOtherAmount = false"
                             min="0"
                             max="1000"
                             name="amountToCommit"
                             [(ngModel)]="amountToCommit"/>
                    </h1>

                    <div class="clear block">

                      <input type="range"
                             min="0"
                             (input)="amountToCommit = possibleCommitAmounts[+$event.target.value]"
                             [max]="possibleCommitAmounts.length-1"
                             [value]="possibleCommitAmounts.indexOf(amountToCommit)"
                             step="1"
                             class="slider mt-md mb-md"/>
                    </div>
                    <a class="pull-right" (click)="showAmountInput()">Commit Another Amount</a>

                  </div>

                </div>
              </div>

              <div class="col-md-12">

                <div class="form-group">
                  <home-stripe-input
                    class="clearfix"
                    name="token"
                    [required]="amountToCommit > 0"
                    ngModel>
                  </home-stripe-input>
                  <div [hidden]="!errors.token">
                    <p class="hint error">{{errors.token}}</p>
                  </div>
                </div>
              </div>

            </div>

            <div class="panel-footer">
              <div class="clearfix">

                <home-btn
                  [class]="'btn btn-action btn-sm btn-block'"
                  [type]="'submit'"
                  [disabled]="signupForm.invalid"
                  [isLoading]="isLoading">
                  Submit
                </home-btn>

              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>

