<mat-menu #reviewMenu="matMenu">
  <button (click)="edit()" *ngIf="hasPermissions" mat-menu-item>
    <mat-icon>edit</mat-icon>
    Edit
  </button>
  <button (click)="delete()" *ngIf="hasPermissions" mat-menu-item>
    <mat-icon>delete</mat-icon>
    Remove
  </button>
  <button (click)="report()" *ngIf="!hasPermissions" mat-menu-item>
    <mat-icon>flag</mat-icon>
    Report
  </button>
</mat-menu>

<mat-card>
  <mat-card-header>
    <img mat-card-avatar [src]="review?.poster?.profile_pic || '/assets/images/avatar.png'"/>
    <h4 mat-card-title>
      <a [routerLink]="['/member', review?.poster?._id || '']">
        {{review?.poster?.first_name}}
        {{review?.poster?.last_name}}
      </a>
    </h4>
    <p mat-card-subtitle>{{ createdAt }}</p>
    <button mat-icon-button color="primary"
            class="pull-right"
            [matMenuTriggerFor]="reviewMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p class="m0 text-space" [innerHTML]="review.content | wrapLinks"></p>
  </mat-card-content>
  <mat-card-actions align="start">
    <home-rating
      [rating]="review.rating"
      [readOnly]="true">
    </home-rating>
  </mat-card-actions>
</mat-card>

