.review {
  .media-bottom {
    padding: 10px 0;
    border-top: 1px solid #eee;
    text-align: right;
  }
  .media-body {
    overflow: visible;
    img.media-object {
      height: 50px;
      width: 50px;
    }
  }
  .date {
    display: block;
  }

  home-controls {
    z-index: 99999;
  }
}
