<div class="pt-xxl center-block">
  <div>

    <mat-card>

      <mat-card-header>
        <h3 mat-card-title>Membership</h3>
      </mat-card-header>

      <mat-card-content>

        <div class="col" *ngIf="!isActive">
          <p>
            You do not have an active subscription.
            To start a subscription, simply fill out the billing section.
          </p>
        </div>

        <div *ngIf="activeUntil">
          <table class="table table-striped">
            <tr>
              <th>Subscription Renewal</th>
              <td>{{activeUntil}}</td>
            </tr>
            <tr>
              <th>Trial End</th>
              <td>{{trialEnd || 'N/A'}}</td>
            </tr>
            <tr>
              <th>Membership Tier</th>
              <td>{{member.stripe?.tier}}</td>
            </tr>
            <tr>
              <th>Referral Coupon Code</th>
              <td>{{member.referralCode || 'N/A'}}</td>
            </tr>
            <tr>
              <th>Account Balance</th>
              <td>$ {{ accountBalance }}</td>
            </tr>
          </table>

          <div class="alert grad-1" *ngIf="discountDescription">
            <h4>Membership Discount</h4>
            <p>{{discountDescription}}</p>
          </div>

        </div>

      </mat-card-content>

      <mat-card-actions align="start">
        <div *ngIf="isActive">
          <button
            mat-flat-button
            color="warn"
            type="button"
            (click)="cancelSubscription()">
            Cancel Membership
          </button>
        </div>
      </mat-card-actions>

    </mat-card>


    <mat-card>
      <form action="javascript:void(0)"
            (submit)="onSubmit(paymentForm)"
            #paymentForm="ngForm">

        <mat-card-header>
          <h2 mat-card-title>Payment</h2>
          <p mat-card-subtitle>This is your default payment method.</p>
        </mat-card-header>

        <mat-card-content>

          <div class="row">
            <div class="col-12" *ngIf="!!card">
              <h4 class="pull-left mt-n">Card On File</h4>
              <p class="pull-right mt-n">{{card.brand}} {{card.last4}}</p>
            </div>

            <div class="col-12" *ngIf="!card">
              <p>You don't have a card on file, if you want your subscription to stay active, you'll need to add one.</p>
            </div>

            <div class="col-12">
              <h5>Change Payment Method</h5>
              <home-payment-field name="token" ngModel [error]="errors?.payment"></home-payment-field>
              <p class="hint error">{{errors?.payment}}</p>
            </div>

            <div class="col-12 text-right">
              <a (click)="showPromo = true" [hidden]="showPromo">Have a Promo Code?</a>
              <home-coupon-field [hidden]="!showPromo" name="couponCode" ngModel></home-coupon-field>
            </div>

          </div>
        </mat-card-content>

        <mat-card-actions align="end">
          <button type="submit"
                  mat-flat-button
                  [disabled]="paymentForm.invalid || paymentFormLoading"
                  color="accent">
            Save
          </button>
        </mat-card-actions>

        <mat-progress-bar mode="indeterminate" color="primary" *ngIf="paymentFormLoading"></mat-progress-bar>

      </form>
    </mat-card>

    <home-loader [hidden]="!(invoiceService.isLoading$ | async)"></home-loader>

    <mat-card [hidden]="!(upcomingInvoices$ | async)?.length">

      <mat-card-header>
        <h3 mat-card-title>Upcoming Invoices</h3>
      </mat-card-header>

      <mat-card-content>
        <div *ngFor="let invoice of (upcomingInvoices$ | async)"
             [hidden]="(upcomingInvoices$ | async)?.length === 0">

          <home-invoice-summary [invoice]="invoice"></home-invoice-summary>
        </div>
      </mat-card-content>

      <mat-card-footer></mat-card-footer>
    </mat-card>

    <mat-card [hidden]="!(pastInvoices$ | async)?.length">

      <mat-card-header>
        <h3 mat-card-title>Past Invoices</h3>
      </mat-card-header>

      <mat-card-content>
        <div class="clearfix" *ngFor="let invoice of (pastInvoices$ | async)"
             [hidden]="(pastInvoices$ | async)?.length === 0">

          <home-invoice-summary [invoice]="invoice"></home-invoice-summary>

        </div>
      </mat-card-content>
      <mat-card-footer></mat-card-footer>

    </mat-card>

  </div>

</div>

