<div class="container blank-container">

  <div class="row  justify-content-center">
    <div class="col-md-8 col-sm-10">
      <div class="row text-center">
        <div class="col-md-12">
          <a href="http://evolvemusic.org" class="inblock">
            <img alt="H.O.M.E." width="200" src="assets/images/home-login-logo.png"/></a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-card>
            <mat-card-header>
              <h2 mat-card-title>Helping Our Music Evolve, Inc. (H.O.M.E.) Membership Terms Of Agreement</h2>
              <h4 class="subtitle" mat-card-subtitle>May 30, 2017</h4>
            </mat-card-header>
            <mat-card-content>


              <p>Before finishing your H.O.M.E. membership application, please
                read the following terms of service ("Terms") carefully. If you
                ("you" or "Member") agree to these Terms, please go back to the
                previous page and complete your application. This will
                constitute a binding agreement between you and Helping Our Music
                Evolve, Inc. (“H.O.M.E.”, “we", or "us"). Please note that any
                violation of these Terms may result in termination of the
                H.O.M.E. service ("Service") to you. </p>
              <p>H.O.M.E. reserves the right to change these Terms from time to
                time, so please check back periodically for any changes. You can
                always view the most current version of these Terms at:
                <a routerLink="/terms">https://my.evolvemusic.org/terms</a>.
                If you do not agree to changes made to these Terms, your sole
                and exclusive remedy is to cancel your H.O.M.E. account
                ("Account").
              </p>

              <h6>1. Description of Service</h6>
              <p>H.O.M.E. currently provides registered and paid members with
                access to a number of on-line resources, including but not
                limited to written articles, videos, resources, tools and more
                via www.evolvemusic.org. Unless expressly stated otherwise, any
                new products or features added to the current Service will be
                subject to these Terms. H.O.M.E. provides this Service to
                individuals who already have access to the Internet and the
                World Wide Web, and is not responsible for providing such access
                to individuals who do not already have it.</p>
              <p>H.O.M.E. also operates an online application (the H.O.M.E.
                Music Community App) for people in the music industry. The terms
                outlined in this agreement also cover he use of that app.</p>
              <p>H.O.M.E. hosts multiple music industry networking meetings and
                other special events (workshops, seminars, conferences jam
                sessions, showcases etc.) Members may be entitled to discounts
                and other benefits. The terms of those discounts are outlined on
                the H.O.M.E. site and Music Community app under the discounts
                tab. </p>

              <h6>2. Member Registration</h6>
              <p>In order to access member-only content on the H.O.M.E. website
                (Service), you must first register with H.O.M.E. by completing
                the membership application and paying the applicable fee. In
                filling out the application, you agree to provide true,
                accurate, current, and complete information ("Registration
                Information") as requested by the application form. In addition,
                you agree to maintain and promptly update such Registration
                Information to keep it true, accurate, current, and
                complete.</p>

              <h6>3. Privacy Policy</h6>
              <p>H.O.M.E. is committed to maintaining your privacy. Your
                Registration Information and any other information about you or
                your Account is subject to the terms of H.O.M.E.'s privacy
                policy ("Privacy Policy"), which can be found at
                <a routerLink="/privacy-policy">http://www.evolvemusic.org/privacy</a>.
                The Privacy Policy is hereby incorporated into these Terms by
                reference.
              </p>

              <h6>4. Fees and Billing</h6>

              <ol>
                <li>
                  <b>Fees.</b>
                  The current fees ("Fees") for the Service can be found at <a
                  href="http://helpingmusic.org">http://www.helpingmusic.org</a>.
                  If the Service you have selected in your registration requires
                  payment of a Fee, you agree to pay such Fees promptly, along
                  with any applicable taxes. We reserve the right to change the
                  Fees at any time, provided, however, that we will give you
                  thirty (30) days advance notice before your renewal date of
                  such changes. If you find such changes unacceptable, you may
                  choose not to renew your membership after its expiration date.
                </li>
                <li>
                  <b>Billing.</b>
                  You are responsible for any and all charges to your Account.
                  If you have any questions about charges to your Account, you
                  should contact H.O.M.E.'s Customer Service Department at
                  support@evolvemusic.org. All charges will be considered valid
                  unless disputed in writing within thirty (30) days of the
                  billing date. Adjustments will not be made for charges that
                  are more than 30 days old. Delinquent Accounts may be
                  suspended or canceled at H.O.M.E.'s sole discretion. Charges
                  will continue to accrue for suspended Accounts until the
                  Account is canceled. H.O.M.E. may impose an additional charge
                  to reinstate a suspended Account.
                </li>
                <li>
                  <b>Payment by Credit Card, Debit Card, Electronic Funds
                    Transfer.</b>
                  If you elect to pay your Fees by credit card, debit card, or
                  electronic funds transfer, we will bill such Fees immediately
                  upon receipt of your purchase details and/or membership
                  application. H.O.M.E. is not responsible for any charges or
                  expenses (e.g. for overdrawn accounts, exceeding credit card
                  limits, etc.) resulting from charges billed by H.O.M.E..
                </li>
                <li>
                  <b>Auto-Renewal.</b>
                  At this time, all accounts are auto-renewing, meaning that we
                  will automatically renew your membership and bill your credit
                  card on the anniversary of your most recent membership
                  registration. For billing purposes, we will encrypt and
                  securely store your credit card information and may ask to you
                  to update it if you choose to renew your membership.
                </li>
              </ol>


              <h6>5. Use of Member Account</h6>
              <p>You are the authorized user of your H.O.M.E. Account and must
                comply with these Terms. You must keep your password
                confidential so that no one else may access the Service through
                your Account. Any commercial use of your Account is
                prohibited.</p>

              <h6>6. Member Content on HelpingMusic.org</h6>
              <p>You, and not H.O.M.E., are solely responsible for all
                information, data, text, software, music, sound, photographs,
                graphics, video, messages, or other materials uploaded, posted,
                displayed, or otherwise transmitted by you via evolvemusic.org
                ("User Generated Content"). H.O.M.E. does not control the User
                Generated Content and, as such, does not guarantee the accuracy,
                integrity, or quality of such Content. H.O.M.E. reserves the
                right, but is not obligated, to review the Content and to
                refuse, remove, or edit any such materials, in whole or in part,
                in its sole discretion, without notice at any time.</p>

              <h6>7. Member Conduct</h6>
              <p>You agree not to use the newsfeed nor reviews section of
                evolvemusic.org or the H.O.M.E. Music Community App to:</p>
              <ol>
                <li>upload, post, or otherwise transmit any Content that is
                  unlawful, harmful, threatening, abusive, harassing, tortious,
                  defamatory, vulgar, obscene, libelous, invasive of another's
                  privacy, hateful, or racially, ethnically or otherwise
                  objectionable;
                </li>
                <li>upload, post, or otherwise transmit any Content that is
                  misleading to others or impersonate any person or entity, or
                  falsely state or otherwise misrepresent your affiliation with
                  a person or entity to others;
                </li>
                <li>upload, post, or otherwise transmit any Content that you do
                  not have a right to upload, post, or transmit under any law or
                  under contractual or fiduciary relationships;
                </li>
                <li>upload, post, or otherwise transmit any Content that
                  infringes any patent, trademark, trade secret, copyright or
                  other proprietary rights of any party;
                </li>
                <li>upload, post, or otherwise transmit any unsolicited or
                  unauthorized advertising, announcemental materials, junk mail,
                  spam, chain letters, pyramid schemes, or any other form of
                  solicitation;
                </li>
                <li>upload, post, or otherwise transmit any material that
                  contains software viruses or any other computer code, files or
                  programs designed to interrupt, destroy or limit the
                  functionality of any computer software or hardware or
                  telecommunications equipment;
                </li>
                <li>upload, post, or otherwise transmit any materials that
                  impose an unreasonable or disproportionately large load on
                  H.O.M.E.'s infrastructure, exceeding the limits provided by
                  the Service for which you have registered;
                </li>
                <li>upload, post, or otherwise transmit any materials that are
                  inconsistent with the nature and purpose of the Service.
                </li>
                <li>engage in commercial activities, including, but not limited
                  to: offering for sale any products or services and soliciting
                  for advertisers or sponsors.
                </li>
                <li>interfere with or disrupt the Service or servers or networks
                  connected to the Service, or disobey any requirements,
                  procedures, policies or regulations of networks connected to
                  the Service;
                </li>
                <li>use the Service as storage for remote loading or as a door
                  or signpost to another home page;
                </li>
                <li>use the Service to harm, or attempt to harm, minors in any
                  way, or to harass or threaten another;
                </li>
                <li>intentionally or unintentionally violate any applicable
                  local, state, national or international law;
                </li>
                <li>reproduce, duplicate, copy, sell, resell or exploit any
                  portion of the Service, use of the Service, or access to the
                  Service.
                </li>
              </ol>

              <h6>8. Member Usage Limits</h6>
              <p>H.O.M.E. may, from time to time, establish general practices
                and limits ("Limits") concerning the use of the Service,
                including without limitation: (a) maximum limits on storage
                space; (b) maximum limits on bandwidth usage; and (c) maximum
                limits on the number of days that email messages, guest book
                entries, or other materials will be retained by H.O.M.E.. Such
                Limits are set according to the level of Service for which you
                have registered. If you exceed the Limits set forth for your
                Service level, H.O.M.E. reserves the right, at its sole
                discretion, to: (i) delete Content leading to the exceeding of
                such Limits; (ii) suspend your Account until you have brought
                your Account within such Limits; or (iii) charge you for
                exceeding such Limits under the terms set forth in the Fee
                schedule for your chosen level of Service.</p>

              <h6>9. Member Proprietary Rights</h6>
              <p>H.O.M.E. does not claim ownership of the Content you place on
                your site ("Member Site") or that you upload, post, or otherwise
                transmit via the Service. By submitting the Content to H.O.M.E.
                for inclusion on your Member Site (evolvemusic.org), you grant
                H.O.M.E. a world-wide, royalty-free, and non-exclusive license:
                (i) to host, use, reproduce, modify, adapt, distribute,
                transmit, and publicly display the Content on and through the
                Service; and (ii) to sublicense to third parties such Content to
                the extent necessary for the creation and maintenance of, in
                part or in whole, the Services. This license exists only for so
                long as you continue to be a H.O.M.E. member, and will terminate
                when your membership terminates. By submitting Content to
                H.O.M.E., you warrant and represent that you own or otherwise
                control the rights necessary to grant the above licenses.</p>

              <h6>10. H.O.M.E. Proprietary Rights</h6>
              <p>You acknowledge and agree that content contained on the
                evolvemusic.org website and app, and in information presented to
                you through the Service is expressly owned by H.O.M.E. unless
                otherwise noted. Everything on the website is protected by
                copyrights, trademarks, service marks, patents, or other
                proprietary rights and laws. Except as expressly authorized by
                H.O.M.E., you agree not to copy, modify, rent, lease, loan,
                sell, distribute or create derivative works based on the Service
                or its contents, in whole or in part.</p>

              <h6>11. Modifications to Service</h6>
              <p>H.O.M.E. reserves the right at any time to modify or
                discontinue, temporarily or permanently, the Service (or any
                part thereof) with or without notice. You agree that H.O.M.E.
                shall not be liable to you or to any third party for any
                modification, suspension or discontinuance of the Service.</p>

              <h6>12. Termination</h6>
              <p>Either you or H.O.M.E. may terminate or cancel your Account at
                any time. No refunds or credits will be given for any amounts
                already paid to H.O.M.E.. </p>
              <ol>
                <li><b>Termination by Member.</b> You may cancel your Account or
                  any part of the Service at any time. If you cancel or
                  terminate your account, cancellation will become effective
                  upon the expiration of your membership. To cancel, you can
                  simply choose to not renew your membership.
                </li>
                <li><b>Termination by H.O.M.E..</b> H.O.M.E., in its sole
                  discretion and at any time, may terminate your password, your
                  Account, your Member Site, or your use of the Service, and
                  remove and discard any Content within the Service, for any
                  reason, including, without limitation: (i) if you have
                  breached these Terms; (ii) if H.O.M.E. is unable to verify or
                  authenticate any information you have provided to H.O.M.E.;
                  (iii) if H.O.M.E. believes that you have violated or acted
                  inconsistently with the letter or spirit of the Terms; (iv)
                  for lack of use of a free Service; or (v) if a free trial
                  period has expired without your registration. H.O.M.E. may
                  also in its sole discretion and at any time discontinue
                  providing the Service, or any part thereof, with or without
                  notice. You agree that any termination of your access to the
                  Service under any provision of these Terms may be effected
                  without prior notice, and acknowledge and agree that H.O.M.E.
                  may immediately deactivate or delete your Member Site and all
                  related information and files in your Member Site and/or bar
                  any further access to such files or the Service. Further, you
                  agree that H.O.M.E. shall not be liable to you or any
                  third-party for any termination of your access to the Service.
                </li>
              </ol>

              <h6>13. Indemnification</h6>
              <p>You agree to indemnify and hold H.O.M.E., and its subsidiaries,
                affiliates, officers, agents, co-branders or other partners, and
                employees, harmless from any claim or demand, including
                reasonable attorneys' fees, made by any third party due to or
                arising out of your Content, your use of the Service, your
                connection to the Service, your violation of the Terms, your
                breach of any warranties in these Terms, or your violation of
                any rights of another.</p>

              <h6>14. DISCLAIMER OF WARRANTIES</h6>
              <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT:</p>
              <ol>
                <li>YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS
                  PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. H.O.M.E.
                  EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER
                  EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED
                  WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                  PURPOSE, AND NON-INFRINGEMENT;
                </li>
                <li>H.O.M.E. MAKES NO WARRANTY THAT (i) THE SERVICE WILL MEET
                  YOUR REQUIREMENTS; (ii) THE SERVICE WILL BE UNINTERRUPTED,
                  TIMELY, SECURE, OR ERROR-FREE, (iii) THE RESULTS THAT MAY BE
                  OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR
                  RELIABLE, (iv) THE QUALITY OF ANY PRODUCTS OR SERVICES,
                  INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU
                  THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS, AND (v) ANY
                  ERRORS IN THE SOFTWARE WILL BE CORRECTED;
                </li>
                <li>ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE
                  USE OF THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND
                  THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR
                  COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD
                  OF ANY SUCH MATERIAL;
                </li>
                <li>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED
                  BY YOU FROM H.O.M.E. OR THROUGH OR FROM THE SERVICE SHALL
                  CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS.
                </li>
              </ol>

              <h6>15. LIMITATION OF LIABILITIES</h6>
              <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT H.O.M.E. SHALL NOT BE
                LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
                CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED
                TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA, OR OTHER
                INTANGIBLE LOSSES (EVEN IF H.O.M.E. HAS BEEN ADVISED OF THE
                POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE
                INABILITY TO USE THE SERVICE; (ii) THE COST OF PROCUREMENT OF
                SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA,
                INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES
                RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE
                SERVICE; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR
                TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY THIRD
                PARTY ON THE SERVICE; (v) ANY PERSONAL INJURY (INCLUDING DEATH)
                OR DAMAGE TO PERSONAL PROPERTY THAT OCCURS WHILE AT ANY H.O.M.E.
                CHAPTER LOCATION OR OFF-SITE EVENT (vi) ANY OTHER MATTER
                RELATING TO THE SERVICE.</p>

              <h6>16. Notice</h6>
              <p>Notices to you may be made vial either email or regular mail.
                H.O.M.E. may also provide notices of changes to the Terms or
                other matters by displaying notices or links to notices to you
                generally on the Service.</p>

              <h6>17. General Terms</h6>
              <p>These Terms constitute the entire agreement between you and
                H.O.M.E. and govern your use of the Service, superseding any
                prior agreements between you and H.O.M.E. (including, but not
                limited to, any prior versions of the Terms). The Terms and the
                relationship between you and H.O.M.E. shall be governed by the
                laws of the State of Tennessee. You and H.O.M.E. agree to submit
                to the personal and exclusive jurisdiction of the courts located
                within the county of Davidson, Tennessee. The failure of
                H.O.M.E. to exercise or enforce any right or provision of the
                Terms shall not constitute a waiver of such right or provision.
                If any provision of the Terms is found by a court of competent
                jurisdiction to be invalid, the parties nevertheless agree that
                the court should endeavor to give effect to the parties'
                intentions as reflected in the provision, and the other
                provisions of the Terms remain in full force and effect. The
                section titles in the Terms are for convenience only and have no
                legal or contractual effect.</p>

            </mat-card-content>
          </mat-card>

        </div>
      </div>
    </div>
  </div>

</div>

