<div class="container blank-container focused-form">
  <div class="signup-block pt-xl">
    <div class="row text-center">
      <div class="col-md-12">
        <a href="http://evolvemusic.org" class="inblock">
          <img alt="H.O.M.E." width="200" src="assets/images/home-login-logo.png"/>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 center-block fn">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Sign Up</h2>
          </div>
          <form class="form"
                (ngSubmit)="onSubmit(signupForm)"
                #signupForm="ngForm"
                action="javascript:void(0);">

            <div class="panel-body row">

              <div class="col-md-6">
                <div class="form-group label-floating mt-n"
                     [ngClass]="{'has-error': (first_name.invalid && (first_name.touched || first_name.dirty)) }">

                  <label for="first_name" class="control-label">First
                    Name</label>
                  <input type="text"
                         class="form-control"
                         name="first_name"
                         #first_name="ngModel"
                         ngModel
                         autofocus
                         required/>

                  <div
                    *ngIf="first_name.invalid && (first_name.touched || first_name.dirty)">
                    <p class="hint" [hidden]="!first_name.errors.required">This
                      field is required.</p>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group label-floating mt-n"
                     [ngClass]="{'has-error': (last_name.invalid && (last_name.touched || last_name.dirty)) }">

                  <label for="last_name" class="control-label">Last Name</label>
                  <input type="text"
                         class="form-control"
                         name="last_name"
                         #last_name="ngModel"
                         ngModel
                         required/>

                  <div
                    *ngIf="last_name.invalid && (last_name.touched || last_name.dirty)">
                    <p class="hint" [hidden]="!last_name.errors.required">This
                      field is required.</p>
                  </div>

                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group label-floating"
                     [ngClass]="{'has-error': (email.invalid && (email.touched || email.dirty)) }">

                  <label for="email" class="control-label">Email</label>
                  <input type="email"
                         class="form-control"
                         name="email"
                         #email="ngModel"
                         ngModel
                         pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                         required/>
                  <div *ngIf="email.invalid && (email.touched || email.dirty)">
                    <p class="hint" [hidden]="!email.errors.required">Email is
                      required.</p>
                    <p class="hint" [hidden]="!email.errors.pattern">Email is
                      invalid.</p>
                  </div>
                </div>
              </div>

              <div ngModelGroup="passwords" passwordMatcher
                   #passwords="ngModelGroup">
                <div class="col-md-6">
                  <div class="form-group label-floating"
                       [ngClass]="{'has-error': (password.invalid && (password.touched || password.dirty)) }">
                    <label for="password" class="control-label">Password</label>
                    <input type="password"
                           name="password"
                           class="form-control"
                           #password="ngModel"
                           ngModel
                           minlength="6"
                           required/>

                    <div
                      *ngIf="password.invalid && (password.touched || password.dirty)">
                      <p class="hint" [hidden]="!password.errors.required">
                        Password is required.</p>
                      <p class="hint" [hidden]="!password.errors.minlength">
                        Password must be at least 6 characters.</p>
                    </div>

                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group label-floating"
                       [ngClass]="{'has-error': (confirm.invalid && (confirm.touched || confirm.dirty)) }">

                    <label for="confirm" class="control-label">Confirm
                      Password</label>
                    <input type="password"
                           class="form-control"
                           name="confirm"
                           #confirm="ngModel"
                           ngModel
                           required/>

                    <div
                      *ngIf="confirm.invalid && (confirm.touched || confirm.dirty)">
                      <p class="hint" [hidden]="!confirm.errors.required">Please
                        confirm password.</p>
                    </div>
                    <div
                      *ngIf="passwords.errors && passwords.invalid && (confirm.touched || confirm.dirty)">
                      <p class="hint"
                         [hidden]="passwords.errors && !passwords.errors.nomatch">
                        Passwords do not match.</p>
                    </div>

                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group-sm m-n p-n"
                     [ngClass]="{'has-error': (agreeToTerms.invalid && (agreeToTerms.touched || agreeToTerms.dirty)) }">

                  <div class="checkbox">
                    <label>
                      <input type="checkbox"
                             name="agreeToTerms"
                             #agreeToTerms="ngModel"
                             ngModel
                             required/>
                      I Agree To the
                      <a [routerLink]="['/terms']">Membership Agreement</a>
                    </label>
                  </div>

                  <div *ngIf="agreeToTerms.invalid && submitted">
                    <p class="hint" [hidden]="!agreeToTerms.errors.required">
                      Box must be checked.
                    </p>
                  </div>
                </div>
              </div>

            </div>

            <div class="panel-footer">
              <div class="clearfix">
                <div class="pull-left">
                  <p class="mb-n mt-sm">
                    Already have an account?
                    <a routerLink="/login">Login.</a>
                  </p>
                </div>

                <home-btn
                  [class]="'btn btn-info btn-sm pull-right'"
                  [type]="'submit'"
                  [isLoading]="isLoading"
                >
                  Sign Up
                </home-btn>

              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <oauth-btn
              type="facebook"
              icon="facebook"
              title="Facebook"
            ></oauth-btn>
          </div>
          <div class="col-sm-6">
            <oauth-btn
              type="google"
              icon="google-plus"
              title="Google+"
            ></oauth-btn>
          </div>
        </div>

        <div class="panel panel-default help-block no-animate"
             *ngIf="errorMessage">
          <p class="error text-center m-md">{{errorMessage}}</p>
        </div>

      </div>
    </div>
  </div>

</div>

