<div class="tab-pane" infiniteScroll
     [infiniteScrollDistance]="0.1"
     [infiniteScrollThrottle]="300"
     [immediateCheck]="false"
     [scrollWindow]="false"
     #scrollEl
     [infiniteScrollContainer]="scrollEl"
     (scrolled)="onScroll()">

  <div class="widget">
    <div class="widget-heading">
      {{ unreadCount | i18nPlural:{'=0': 'No new notifications', '=1': '1 new notification', 'other': '# new notifications'} }}
    </div>
    <div class="widget-body p-n">
      <ul class="timeline">

        <li *ngFor="let n of notifications$ | async" class="notification" [ngClass]="{'unread': !n.readAt}">

          <a [routerLink]="[n.link | safeUrl]" (click)="openNotification(n)">
            <div class="timeline-icon" [ngStyle]="{'background': n.display.color}">
              <i class="material-icons">{{n.display.icon}}</i>
            </div>

            <div class="timeline-body">
              <div class="timeline-header">
                <span class="author">{{n.title}}</span>
                <span class="date">{{n.fromNow}}</span>
              </div>
            </div>
          </a>
        </li>

      </ul>
      <div class="p-xl text-center">
        <a [hidden]="!moreNotifications" (click)="onScroll()" [hidden]="(notificationService.loading$ | async)">
          Load More
        </a>

        <home-loader class="small" [hidden]="!(notificationService.loading$ | async)"></home-loader>
      </div>

    </div>
  </div>
</div>
