<div class="container blank-container">

  <div class="row">
    <div class="col-md-8 col-sm-10 center-block fn">
      <div class="row text-center">
        <div class="col-md-12">
          <a href="http://helpingmusic.org" class="inblock"><img alt="H.O.M.E."
                                                                 src="assets/images/home-login-logo.png"/></a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2>Helping Our Music Evolve, Inc. Privacy Policy</h2>
          <h4 class="subtitle">May 30, 2017</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="panel">
            <div class="panel-body">

              <p>Welcome to the website helpingmusic.org (the "Site") and
                related platforms, products, and services available on or from
                the Site (the "Services") are owned and operated by Helping Our
                Music Evolve, Inc. (together with its affiliates, successors,
                and assigns hereinafter referred to as "our", "we", "us", or
                “H.O.M.E.”).</p>
              <p>The Site is a music-oriented content and information website
                that connects music recording artists with other music players,
                performers, producers, professionals, and patrons. Registered
                users may post music, sound recordings, musical works,
                compositions, videos, photographs, pictures, graphics, names,
                likeness, images, biographical information, and other
                information or materials owned and/or created by them and can
                view each other's profiles ("Profiles"), communicate with each
                other, share photos, post comments, and describe their musical
                abilities, genres of interest, professional skills. Registered
                users can change their Profile information at any time and can
                control how other users and the Site communicates with them.</p>
              <p>H.O.M.E. cares about online privacy and wants you to know how
                we collect, use, share and protect information about you and the
                choices you have regarding our use of your information. If you
                have any questions concerning this Privacy Policy, please email
                us at home@helpingmusic.org. We may change or add to this
                Privacy Policy from time-to-time, so we encourage you to review
                it periodically.</p>

              <h6>SCOPE</h6>
              <p>This Privacy Policy applies to the collection of personal
                information from users of the Services, including any updated
                and new products or services that may be offered in the future
                by H.O.M.E.. It relates to information we collect from you,
                including personally identifying information (also referred to
                as "PII") and information that does not identify you personally.
                PII may include, for example, some or all of the following: your
                name, mailing address, email address, telephone number, mobile
                phone number, passwords, credit/debit card information, user
                name and password, and demographic information.</p>

              <h6>YOUR CONSENT TO THIS PRIVACY POLICY</h6>
              <p>This Privacy Policy is incorporated into and subject to our
                General Terms and Conditions that apply to use of this Site. By
                using the Services and this Site, you consent to our General
                Terms and Conditions and Privacy Policy, including our use and
                disclosure of your personal information as stated in this
                Privacy Policy, whether or not you register with the Site.</p>

              <h6>INFORMATION COLLECTED AND USED BY H.O.M.E</h6>
              <p>When users register with the Site, H.O.M.E. collects user
                submitted personal information such as name, mailing address,
                email address, telephone number and age. H.O.M.E. uses that
                information to authenticate users and to send notifications to
                users relating to, without limitation, the Services and other
                opportunities.</p>
              <p>As is standard practice on many corporate websites, H.O.M.E.
                also logs non-personally-identifiable information, including IP
                address, profile information, aggregate user data, and browser
                type, from the Site. This data is used to improve the website
                services, to analyze trends, to administer the Site, to track
                users' movements around the Site and to gather demographic
                information about our user base as a whole. H.O.M.E. will not
                use the information collected to market directly to that person.
                This non-personally-identifiable information may be shared with
                third-parties to provide more relevant services and
                advertisements to users. User IP addresses are recorded for
                security and monitoring purposes.</p>
              <p>In addition, H.O.M.E. uses pixel tags - tiny graphic images -
                to tell us what parts of the Site have been visited or to
                measure the effectiveness of searches customers perform on the
                Site. Pixel tags also enable us to send email messages in a
                format that customers can read. And they tell us whether emails
                have been opened to assure that we are only sending messages
                that are of interest to our users.</p>
              <p>User Profile information, including users’ pictures, names,
                social/website links, and email addresses is displayed to people
                in order to facilitate user interaction in the H.O.M.E. social
                networking community.</p>
              <p>H.O.M.E. may also use a user’s email address to send updates, a
                newsletter or news regarding the Services. H.O.M.E. may send
                email messages which use a "click-through URL" linked to content
                on the Site. When a user clicks one of these URLs, they pass
                through our web server before arriving at the destination web
                page. H.O.M.E. tracks this click-through data to help determine
                interest in particular topics and measure the effectiveness of
                our customer communications. If you prefer not to be tracked
                simply avoid clicking text or graphic links in the email.</p>
              <p>From time to time, H.O.M.E. or a partner may sponsor an
                opportunity, announcement, or contest through the Site. Users may
                be asked to provide personal information including name, email
                address or home address or to answer questions in order to
                participate. H.O.M.E. may transfer personal information to
                certain advertising partners that you have explicitly requested
                to receive information from. It will be clear at the point of
                collection who is collecting the personal information and whose
                privacy statement will apply.</p>
              <p>H.O.M.E. may also collect information for market research
                purposes to gain a better understanding of our customers and
                thus provide more valuable service. H.O.M.E. also collects
                information regarding customer activities on our Site, and on
                related websites. This helps us to determine how best to provide
                useful information to customers and to understand which parts of
                our websites and Internet services are of most interest to
                them.</p>
              <p>In cases where you use a mobile device to access our sites or
                use our applications, we may receive information about the
                location of your device. We may use this information to develop,
                deliver, and improve our products, services, and other
                offerings.</p>
              <p>We use the information that we collect to develop, deliver, and
                improve our products, services, and other offerings.</p>

              <h6>USE OF COOKIES</h6>
              <p>H.O.M.E. may use cookies to store users' preferences and to
                record session information, for purposes including: (i) ensuring
                that visitors are not repeatedly offered the same
                advertisements, to customize newsletter, advertising, and Web
                page content based on browser type and user profile information;
                (ii) to help track usage to help us understand which parts of
                our website are most popular, where our visitors are going, and
                how much time they spend there; (iii) to make usage of our
                website even more rewarding as well as to study the
                effectiveness of our customer communications, and (iv) to
                customize each visitor's experience and provide greater
                convenience. </p>
              <p>The cookies may reflect de-identified demographic or other data
                linked to data you voluntarily have submitted to us, e.g., your
                email address, which we may share with a data provider solely in
                hashed, non-human readable form. You may be able to configure
                your browser to accept or reject all or some cookies, or notify
                you when a cookie is set -- each browser is different, so check
                the "Help" menu of your browser to learn how to change your
                cookie preferences.</p>

              <h6>DO-NOT-TRACK</h6>
              <p>Our Site does not respond to "do-not-track" settings in users'
                web browsers at this time. However, there are various ways to
                opt out of interest-based advertising, such as TRUSTe’s Ad
                Choices, the Network Advertising Initiative’s Consumer Opt-Out
                Page, or you can also visit Google's Ad Settings to manage the
                ads Google serves.</p>

              <h6>LINKS</h6>
              <p>This Site contains links to third party websites. H.O.M.E. is
                not responsible for the privacy policies and/or practices on
                other sites. When linking to another site, a user should read
                the privacy policy stated on that site. Our privacy policy only
                governs information collected on the H.O.M.E. Site.</p>

              <h6>CHAT, PROFILES, MESSAGE BOARDS AND PUBLIC FORUMS</h6>
              <p>Please be aware that whenever you voluntarily post public
                information to Newsfeeds, Profiles, Reviews, Message Boards or
                any other Public Forum, that information can be accessed by the
                public and can in turn be used by those people to send you
                unsolicited communications. We are not responsible for the
                personal information you choose to submit and make publicly
                available on the Site. Please think before you post any personal
                information online.</p>

              <h6>USING SOCIAL FEATURES OF OUR APPLICATIONS</h6>
              <p>Our social features promote and facilitate interaction among
                our application users, such as by allowing our users to promote
                a show or build their clientele. In order to protect the
                application users’ privacy, we will only show you this
                information if they previously opted in to use the same social
                feature you are using.</p>
              <p>When you use any H.O.M.E. application, or feature at a site not
                controlled by H.O.M.E., such as a social networking site ("SNS")
                like Facebook, that site may allow H.O.M.E. to access certain
                information about you. You may also be required to read and
                accept the SNS’s terms of service and privacy policy. By
                accessing a H.O.M.E. application through a SNS, you are
                authorizing H.O.M.E. to collect, store, and use in accordance
                with this Privacy Policy any and all information that you agreed
                the SNS could provide to H.O.M.E. through the SNS.</p>
              <p>The information you allow H.O.M.E. to access varies by
                application and SNS, and it is affected by the privacy settings
                you and your friends establish at the SNS. You can find out more
                about these settings at the SNS where you access our
                applications.</p>

              <h6>CORRECTING/UPDATING OR REMOVING INFORMATION</h6>
              <p>H.O.M.E. registered users may modify or remove any of the
                personal information contained in their Profile at any time by
                logging into their account and accessing features such as Edit
                Profile and Account Info.</p>
              <p>To manage the information H.O.M.E. receives about you from a
                SNS when you access one of our applications through the SNS, you
                will need to follow the instructions at that site for updating
                your information and changing your privacy settings at that
                SNS’s site. Once H.O.M.E. receives your information from an SNS,
                that information is stored and used by H.O.M.E. in accordance
                with this Privacy Policy, and you may access and update that
                information as described in the above paragraph.</p>

              <h6>EMAIL CHOICE / OPT OUT</h6>
              <p>If at any time you wish to opt out of receiving communications
                related to the Site, we will provide an unsubscribe link at the
                bottom of each email you receive with options to opt out of the
                list.</p>
              <p>You should note that in some instances, certain information or
                services can only be provided to you if personal data is
                provided. If you elect not to provide such personal data or opt
                out of receiving electronic communications, you may not be able
                to receive certain content or information.</p>

              <h6>SECURITY</h6>
              <p>H.O.M.E. user accounts are secured by user-created passwords.
                H.O.M.E. takes precautions to ensure that account information is
                kept private. H.O.M.E. uses reasonable measures such as
                encryption to protect private information that is stored within
                our database against loss, theft, and misuse, as well as
                unauthorized access, disclosure, alteration, and destruction,
                and we restrict access to such private information to those
                employees who need access to perform their job functions, such
                as our customer service personnel and technical staff. Among
                these measures, when you enter sensitive information (such as a
                credit card number) on our order forms, we encrypt the
                transmission of that information using secure socket layer (SSL)
                technology, which creates an encrypted connection between you
                and our systems. Once we collect your credit card or debit card
                information, it is stored encrypted on restricted-access
                computers that are not directly accessible via the Internet.
                Please note that no method of electronic transmission or storage
                is 100% secure, however, and H.O.M.E. cannot guarantee the
                security of user account information. Unauthorized entry or use,
                hardware or software failure, and other factors may compromise
                the security of member information at any time. Users are urged
                to also take precautions to protect their personal data by
                changing passwords often using a combination of letters and
                numbers, and using a secure web browser. </p>
              <p>For any additional information about the security measures
                H.O.M.E. uses on the Site, please contact us at
                home@helpingmusic.org.</p>

              <h6>SHARING AND DISCLOSURE OF INFORMATION REVERBNATION
                COLLECTS</h6>
              <p>Except as otherwise described in this Privacy Policy, H.O.M.E.
                will not disclose personal information to any third party unless
                it believes that disclosure is necessary: (1) to conform to
                legal requirements or to respond to a subpoena, search warrant
                or other legal process received by H.O.M.E., whether or not a
                response is required by applicable law; (2) to enforce the
                General Terms and Conditions or to protect our rights; or (3) to
                protect the safety of members of the public and users of the
                Services. </p>
              <p>H.O.M.E. takes your privacy very seriously. H.O.M.E. does not
                sell or rent your contact information to other marketers. To
                help us provide superior service, your personal information may
                be shared internally within H.O.M.E.. There are also times when
                H.O.M.E. may make certain personal information about you
                available to companies that H.O.M.E. has a strategic
                relationship with or that perform work for H.O.M.E. to provide
                products and services to you on our behalf. For example, these
                companies may help us process information, deliver products to
                you, manage and enhance customer data, provide customer service,
                assess your interest in our products and services, or conduct
                customer research or satisfaction surveys. These companies are
                also obligated to protect your personal information in
                accordance with H.O.M.E.’s policies. Without such information
                being made available, it would be difficult for you to purchase
                products, have products delivered to you, receive customer
                service, provide us feedback to improve our products and
                services, or access certain services, offers, and content on the
                Site.</p>
              <p>We may also share information about you with your SNS contacts
                when you and they use the same social features of our
                applications.</p>

              <h6>PRIVACY OF CHILDREN</h6>
              <p>This Site and our Services are oriented toward a general
                audience and intended for adults only. We do not knowingly
                collect personally identifiable information from those under the
                age of thirteen (13). If you believe that we have inadvertently
                collected personally identifiable information from a person
                under thirteen (13), please contact us so that we can
                investigate and take any necessary remedial measures.</p>

              <h6>INTERNATIONAL USERS</h6>
              <p>H.O.M.E. is a website operated from the United States by a
                company headquartered in the United States. If you are located
                outside of the United States, please note that the information
                you provide to us will be transferred to the United States and
                governed by applicable U.S. laws and regulations and this
                Privacy Policy. By using the site, you consent to this transfer
                and the processing of your data (personal or otherwise) in
                accordance with U.S. laws and regulations and this Privacy
                Policy. The applicable laws in the United States regarding the
                processing of data (personal or otherwise) may be less stringent
                than the laws in your country.</p>

              <h6>YOUR CALIFORNIA PRIVACY RIGHTS</h6>
              <p>California law permits certain users of our site who are
                California residents to request certain information regarding
                disclosure of personal information to third parties for such
                third parties' direct marketing purposes during the past year.
                You may make such a request by writing to us at:</p>
              <p>
                H.O.M.E. <br/>
                Attn: Legal Department - Privacy <br/>
                615 Main St. Suite M7 <br/>
                Nashville, TN 37206
              </p>
              <p>You may also email us at: home@helpingmusic.org.</p>
              <p>Please include the full name and contact information for your
                H.O.M.E. account in your request, and include the statement
                "Your California Privacy Rights" in the subject field of your
                letter or email. Please allow thirty (30) days for a
                response.</p>

              <h6>CHANGES IN OUR PRIVACY POLICY</h6>
              <p>From time to time H.O.M.E. may make changes to our Privacy
                Policy. The most recent version of the Privacy Policy will be
                posted on our Site, with the "Revised Date" posted at the top of
                the Policy. If we make any material changes to our Privacy
                Policy or how we handle your personal information, you will know
                because the Revised Date of the Privacy Policy will change. If
                we make a significant or material change in the way we use your
                PII, we will post a more prominent notice (including, for
                certain services, email notification of privacy policy changes
                where possible) in advance of any such change for thirty (30)
                days where feasible. A user is bound by any minor changes to the
                Privacy Policy when she or he uses the Site after those changes
                have been posted.</p>

              <h6>CONTACTING THE WEB SITE</h6>
              <p>If you have any questions about this Privacy Policy, the
                practices of this site, or your dealings with this site, please
                contact us at: home@helpingmusic.org. Physical inquiries can be
                sent to the following address: </p>
              <p>
                H.O.M.E. <br/>
                Attn: Legal Department - Privacy <br/>
                615 Main St. Suite M7 <br/>
                Nashville, TN 37206
              </p>
              <p>You may also email us at: home@helpingmusic.org.</p>

              <h6>DISPUTES</h6>
              <p>Any disputes regarding this Privacy Policy are subject to our
                General Terms and Conditions and will be governed by the laws of
                the State of Tennessee, applicable to agreements made and
                performed there.</p>

              <p>Thank you for being a part of the H.O.M.E. community!</p>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

