
mat-tree {
  background: none;
}
mat-nested-tree-node, mat-tree-node {
  li {
    //border-top: 1px solid #eee;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

ul {
  border-left: 2px solid #ddd;
  padding: 0;
  margin: 0 0 0 32px;
  list-style: none;
}

home-thread-comment {
  width: 100%;
}
