<div class="container blank-container focused-form">
  <div class="">
    <div class="row text-center">
      <div class="col-md-12">
        <a href="http://evolvemusic.org" class="inblock">
          <img alt="H.O.M.E." src="assets/images/home-login-logo.png"/>
        </a>
      </div>
    </div>

    <div class="row animated-content">
      <div class="col-md-4 center-block fn">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Reset Password</h2>
          </div>
          <form class="form" (ngSubmit)="onSubmit(resetForm)"
                #resetForm="ngForm">
            <div class="panel-body" ngModelGroup="passwords" passwordMatcher #passwords="ngModelGroup">

              <div class="col-md-12">
                <div class="form-group label-floating"
                     [ngClass]="{'has-error': (password.invalid && (password.touched || password.dirty)) }">

                  <label for="password" class="control-label">
                    New Password
                  </label>
                  <input type="password"
                         class="form-control"
                         name="password"
                         #password="ngModel"
                         autofocus
                         minlength="6"
                         required
                         ngModel/>

                  <div *ngIf="password.invalid && (password.touched || password.dirty)">
                    <p class="hint" [hidden]="!password.errors.required">
                      This field is required.
                    </p>
                    <p class="hint" [hidden]="!password.errors.minlength">
                      Passwords must be at least 6 characters.</p>
                  </div>

                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group label-floating">
                  <label for="confirm" class="control-label">
                    Confirm Password
                  </label>
                  <input type="password"
                         class="form-control"
                         name="confirm"
                         #confirm="ngModel"
                         required
                         ngModel/>

                  <div *ngIf="confirm.invalid && (confirm.touched || confirm.dirty)">
                    <p class="hint" [hidden]="!confirm.errors.required">
                      Please confirm password.
                    </p>
                  </div>
                  <div *ngIf="passwords.errors && passwords.invalid && (confirm.touched || confirm.dirty)">
                    <p class="hint" [hidden]="passwords.errors && !passwords.errors.nomatch">
                      Passwords do not match.
                    </p>
                  </div>
                </div>
              </div>

            </div>

            <div class="panel-footer">
              <div class="clearfix">
                <home-btn
                  [class]="'btn btn-primary btn-raised pull-right'"
                  [type]="'submit'"
                  [isLoading]="isLoading"
                >
                  Reset
                </home-btn>

              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>
