<div class="container blank-container focused-form">
  <div class="">
    <div class="row text-center">
      <div class="col-md-12">
        <a href="http://evolvemusic.org" class="inblock">
          <img alt="H.O.M.E." width="200" src="assets/images/home-login-logo.png"/>
        </a>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4 center-block fn">

        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Reset Password
            </mat-card-title>
          </mat-card-header>

          <form [formGroup]="resetForm" action="javascript:void(0)" (submit)="onSubmit(resetForm)">
            <mat-card-content>
              <mat-form-field hintLabel="Min 6 characters">
                <input formControlName="password" matInput type="password" placeholder="Password">
                <mat-error *ngIf="resetForm.get('password').hasError('minlength')">Password must be at least 6
                  characters.
                </mat-error>
                <mat-error *ngIf="resetForm.get('password').hasError('maxlength')">Password must be at least 32
                  characters.
                </mat-error>
                <mat-error *ngIf="resetForm.get('password').hasError('required')">Password field is required.
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input formControlName="passwordConfirm" matInput type="password" placeholder="Confirm Password">
                <mat-error *ngIf="resetForm.hasError('notSame')">Passwords do not match.</mat-error>
                <mat-error *ngIf="resetForm.get('passwordConfirm').hasError('required')">Password Confirm is required.
                </mat-error>
              </mat-form-field>

            </mat-card-content>

            <mat-card-actions>
              <button [disabled]="isLoading" mat-flat-button color="accent" type="submit">
                Submit
              </button>
            </mat-card-actions>

          </form>

          <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        </mat-card>

      </div>
    </div>

  </div>
</div>
