@import "theme/_vars";

/deep/ body.sidebar-collapsed {
  .static-sidebar {
    @media screen and (max-width: 768px) {
      transform: translateX(-150%);
    }
  }
}

:host {
  border-radius: 0;
  margin: 0;
  border: 0;
  background: none;

  .scroll-pane > .scroll-content {
    position: relative;
  }

  .static-sidebar {
    overflow-y: scroll;
    max-height: 100vh;
    padding: 0 0;
    z-index: 99;

    @media screen and (min-width: 992px) {
      width: 240px;
      position: fixed;
    }

    @media screen and (max-width: 768px) {
      background: #fff;
      padding: 24px;
      border: 1px solid #ddd;
      margin: 12px -15px 0;
      box-shadow: 0 15px 35px 0 rgba(42, 51, 83, .12), 0 5px 15px rgba(0, 0, 0, .06) !important;
      //transform: translateX(-150%);
      width: 250px;
    }

    .acc-menu {
      li {
        user-select: none;
        padding: 4px 0;
        a {
          padding: 4px 16px;
          color: rgba(0, 0, 0, 0.9);
          transition: 300ms all ease 0s;
          border-radius: 18px;

          &:hover, &.active {
            background: rgba(0, 0, 0, 0.1);
          }

        }
      }

      .accent {
        a {
          background: $purple;
          &:hover {
            background-color: lighten($purple, 10%);
          }
          * {
            color: rgba(255, 255, 255, 0.9);
          }
        }
      }
    }

    .hasChild .acc-menu li {
      background: lighten($blue, 10%);
      span.badge {
        position: relative;
        right: 0;
        left: 0;
      }
    }

  }
}

.widget {
  margin-bottom: 24px;
}

.userinfo {
  display: block;
  padding: 12px;
  margin: 0;

  .avatar {
    float: left;
    margin-right: 12px;
    img {
      height: 100%;
    }
  }
  h4 {
    margin: 0 0 6px;
  }
  p {
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
  }
}

i {
  color: inherit;
}
