<div>

  <div class="userinfo panel">
    <a [routerLink]="['/member', user._id]">
      <div class="row">
        <div class="col-3">
         <div class="avatar">
            <img src="{{user.profile_pic || '/assets/images/avatar.png'}}"
                 class="img-responsive img-circle">
          </div>
        </div>
        <div class="col-9">
          <h4>{{user.first_name}} {{user.last_name}}</h4>
          <p class="useremail">{{user.membership_types.join(', ') | pretty}}</p>
        </div>

      </div>
    </a>
  </div>

  <button class="cta" mat-flat-button color="accent" (click)="referralInfo()">
    <mat-icon>person_add</mat-icon>
    <span class="ml-md">Refer a Friend</span>
  </button>

  <mat-nav-list dense>
    <mat-divider></mat-divider>

    <h3 mat-subheader>Navigation</h3>

    <ng-container *ngFor="let link of links">
      <a mat-list-item  *ngIf="!link.external" [routerLink]="link.path" routerLinkActive="active">
        <mat-icon>{{ link.icon }}</mat-icon>
        <span>{{ link.text }}</span>
      </a>
      <a mat-list-item  *ngIf="link.external" [href]="link.path" target="_blank">
        <mat-icon>{{ link.icon }}</mat-icon>
        <span>{{ link.text }}</span>
      </a>
    </ng-container>

  </mat-nav-list>

</div>
