@import "theme/_vars";

:host {
  border-radius: 0;
  margin: 0;
  border: 0;
  background: none;
  //overflow-y: scroll;
  max-height: 100vh;
  display: block;
  padding-top: 24px;
}

.cta {
  width: 100%;
  margin-bottom: 12px;
}

a.mat-list-item {
  height: 32px !important;
  span {
    margin-left: 12px;
    font-size: 14px;
  }
  &.active {
    background: rgba(255,255,255,0.9);
    border: 1px solid #ececec;
  }
  mat-icon {
    color: #474747;
  }
}

.userinfo {
  padding: 12px;
  margin-bottom: 1em;
  h4, p {
    margin: 0;
  }
}
