
.post {
  border-radius: 12px;
  overflow: hidden;
}

mat-card {
  margin-bottom: 48px;
  .mat-card-avatar {
    background-size: cover;
  }
}

home-thread {
  display: block;
  margin: 0 -16px;
  background: #F7F8F9;
}

