
.post {
  border-radius: 12px;
  overflow: hidden;
}

mat-card {
  margin-bottom: 48px;
  mat-card-header {
    padding: 12px 12px 0;
  }
  .mat-card-avatar {
    background-size: cover;
  }
}

home-thread {
  display: block;
  background: #F7F8F9;
}

