@import 'theme/_vars';

mat-card {
  overflow: hidden;
  * {
    transition: all 100ms ease 0s;
  }

  mat-card-header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
  }

  .panel-ctrls {
    color: $primary;
    margin: 7px 0px;
  }

  &.panel-collapsed {

    mat-card-content, mat-card-actions {
      overflow: hidden;
      display: none !important;
    }
  }
}
