<div class="tab-pane">

  <table class="table table-settings">
    <tbody>
    <tr>
      <td>
        <h4>All Notifications</h4>

        <div class="row mb-n">

          <p class="col">
            <mat-slide-toggle [(ngModel)]="browserEnabled" (ngModelChange)="setAllNotifications('browser', $event)">
              Browser
            </mat-slide-toggle>
          </p>

          <p class="col">
            <mat-slide-toggle [(ngModel)]="emailEnabled" (ngModelChange)="setAllNotifications('email', $event)">
              Email
            </mat-slide-toggle>
          </p>
        </div>
      </td>
    </tr>

    <tr *ngFor="let s of settings">
      <td>
        <h5>{{ s.title }}</h5>
        <p>{{ s.description }}</p>

        <div class="row mb-n">
          <p class="col">
            <mat-slide-toggle color="primary" [(ngModel)]="currentUser?.notifications[s.key].browser" (ngModelChange)="updateUserNotifications()">
              Browser
            </mat-slide-toggle>
          </p>
          <p class="col">
            <mat-slide-toggle color="accent" [(ngModel)]="currentUser?.notifications[s.key].email" (ngModelChange)="updateUserNotifications()">
              Email
            </mat-slide-toggle>
          </p>
        </div>
      </td>
    </tr>


    </tbody>
  </table>

</div>
